<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice</title>
</head>

<body>
    <h1>
        Rolling a Dice:
    </h1>

    <h3>Dice Gave Value : <%= diceVal %>
    </h3>
    <% if(diceVal==6){ %>
        <h3>Nice! Roll dice again..</h3>
        <% } %>


</body>

</html>