<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>This is Home page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio error similique, ad recusandae impedit architecto
        natus reiciendis officia autem deserunt.</p>
    <button>Click me</button>


    <h3>
        <%= 1+2 %>
    </h3>
    <%= "Kaushal vadher" .toUpperCase() %>
    <%= ["Hello","Bonjor","Namaste"][0] %>
            



</body>

</html>